workflow-sanitized.json
{
  "name": "StillPoint Session Scheduler",
  "nodes": [
    {
      "parameters": {
        "formTitle": "StillPoint - New Client Scheduling",
        "formDescription": "Complete this form to schedule sessions for a new client.\n\nDuration fields: Activate applies to all sprints. Crystallize and Combined only apply to the first sprint of each phase (Sprint 1, 5, 9 etc).\nFill Combined ONLY if Lisa is merging Crystallize + Activate into one session — leave blank otherwise.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Journey Master Name",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Dina"
                  },
                  {
                    "option": "Test Journey Master"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Client Full Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Client Company Name"
            },
            {
              "fieldLabel": "Client Email",
              "requiredField": true
            },
            {
              "fieldLabel": "Phase Number",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Client Timezone",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Eastern Time (ET) — New York"
                  },
                  {
                    "option": "Central Time (CT) — Chicago"
                  },
                  {
                    "option": "Mountain Time (MT) — Denver"
                  },
                  {
                    "option": "Pacific Time (PT) — Los Angeles"
                  },
                  {
                    "option": "Pacific Time (PT) — Vancouver"
                  },
                  {
                    "option": "UK — London"
                  },
                  {
                    "option": "Central Europe — Paris/Amsterdam"
                  },
                  {
                    "option": "Australia — Sydney"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Number of Sprints",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Trello Card URL",
              "requiredField": true
            },
            {
              "fieldLabel": "Sprint Start Date",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Client Blackout Dates",
              "placeholder": "Format: YYYY-MM-DD, comma separated. e.g. 2026-07-04, 2026-07-05"
            },
            {
              "fieldLabel": "Crystallize Duration (mins)",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Crystallize + Activate Combined (mins) — leave blank if separate",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Client Google Drive Folder URL",
              "requiredField": true
            },
            {
              "fieldLabel": "Access Code",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        25000,
        4496
      ],
      "id": "88d7cabe-8151-4ac5-a7cd-152a9ab59b1c",
      "name": "Form",
      "webhookId": "7267c38e-976d-4ad6-8f4b-38f336490cf2"
    },
    {
      "parameters": {
        "formTitle": "StillPoint - Reschedule",
        "formDescription": "Complete this form to reschedule an existing client's sprint sessions.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Journey Master Name",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Dina"
                  },
                  {
                    "option": "Test Journey Master"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Client Email",
              "placeholder": "Must match exactly — copy from their Trello card or previous email",
              "requiredField": true
            },
            {
              "fieldLabel": "Reschedule from Sprint # (first sprint to replace)",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "New Start Date for Rescheduled Sprint",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Existing Schedule Doc URL",
              "requiredField": true,
              "placeholder": "Paste the current schedule doc link — it will be deleted and replaced"
            },
            {
              "fieldLabel": "Trello Card URL",
              "requiredField": true
            },
            {
              "fieldLabel": "Updated Blackout Dates",
              "placeholder": "Optional. Format: YYYY-MM-DD, comma separated. e.g. 2026-07-04, 2026-07-05"
            },
            {
              "fieldLabel": "Access Code",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        25000,
        4784
      ],
      "id": "c2197200-d862-4aeb-9989-3e50cbbcc0b0",
      "name": "Form1",
      "webhookId": "411c930c-728d-4d5f-a038-5f93bf039ea0"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_CALENDAR_ID"
        },
        "returnAll": true,
        "timeMin": "={{ $now.toISO() }}",
        "timeMax": "={{ $now.plus({ months: 12 }).toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        640,
        -112
      ],
      "id": "10e51cc3-2cd2-41d1-a093-5c5d96e943d5",
      "name": "Get many events",
      "executeOnce": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Your Google Calendar credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// HELPERS\n// ============================================================\n\nfunction parseISO(isoStr) {\n  return new Date(isoStr);\n}\n\nfunction toTZ(date, tz) {\n  const parts = new Intl.DateTimeFormat('en-US', {\n    timeZone: tz,\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit',\n    hour12: false\n  }).formatToParts(date);\n  const get = type => parts.find(p => p.type === type).value;\n  return {\n    year: parseInt(get('year')),\n    month: parseInt(get('month')),\n    day: parseInt(get('day')),\n    hour: parseInt(get('hour')),\n    minute: parseInt(get('minute'))\n  };\n}\n\nfunction toDateStr(date, tz) {\n  const { year, month, day } = toTZ(date, tz);\n  return `${year}-${String(month).padStart(2,'0')}-${String(day).padStart(2,'0')}`;\n}\n\nfunction toTimeStr(date, tz) {\n  const { hour, minute } = toTZ(date, tz);\n  return `${String(hour).padStart(2,'0')}:${String(minute).padStart(2,'0')}`;\n}\n\nfunction getWeekday(date, tz) {\n  const { year, month, day } = toTZ(date, tz);\n  return new Date(year, month - 1, day).getDay();\n}\n\nfunction isWeekend(date, tz) {\n  const day = getWeekday(date, tz);\n  return day === 0 || day === 6;\n}\n\nfunction fromTZComponents(dateStr, hour, minute, tz) {\n  const [year, month, day] = dateStr.split('-').map(Number);\n  const approxUtc = new Date(Date.UTC(year, month - 1, day, hour, minute));\n  for (let offset = -840; offset <= 840; offset++) {\n    const candidate = new Date(approxUtc.getTime() + offset * 60000);\n    const local = toTZ(candidate, tz);\n    if (\n      local.year === year &&\n      local.month === month &&\n      local.day === day &&\n      local.hour === hour &&\n      local.minute === minute\n    ) {\n      return candidate;\n    }\n  }\n  return approxUtc;\n}\n\nfunction addDays(date, days) {\n  return new Date(date.getTime() + days * 24 * 60 * 60 * 1000);\n}\n\nfunction addMinutes(date, mins) {\n  return new Date(date.getTime() + mins * 60 * 1000);\n}\n\n// ============================================================\n// TIMEZONE MAP\n// ============================================================\n\nconst timezoneMap = {\n  \"Eastern Time (ET) — New York\": \"America/New_York\",\n  \"Central Time (CT) — Chicago\": \"America/Chicago\",\n  \"Mountain Time (MT) — Denver\": \"America/Denver\",\n  \"Pacific Time (PT) — Los Angeles\": \"America/Los_Angeles\",\n  \"Pacific Time (PT) — Vancouver\": \"America/Vancouver\",\n  \"UK — London\": \"Europe/London\",\n  \"Central Europe — Paris/Amsterdam\": \"Europe/Paris\",\n  \"Australia — Sydney\": \"Australia/Sydney\"\n};\n\n// ============================================================\n// INPUTS\n// ============================================================\n\nconst formData = $('Form').first().json;\nconst calendarEvents = $input.all().map(item => item.json);\n\nconst LISA_TZ = 'America/Denver';\nconst clientTZ = timezoneMap[formData['Client Timezone']];\nif (!clientTZ) throw new Error(`Unknown timezone: ${formData['Client Timezone']}`);\n\nconst clientName = formData['Client Full Name'];\nconst companyName = formData['Client Company Name'] || '';\nconst clientEmail = formData['Client Email'];\nconst clientLastName = clientName.trim().split(' ').pop();\nconst numberOfSprints = parseInt(formData['Number of Sprints']);\nconst trelloCardUrl = formData['Trello Card URL'];\n\nconst blackoutDates = formData['Client Blackout Dates']\n  ? formData['Client Blackout Dates'].split(',').map(d => d.trim())\n  : [];\n\nconst activateDuration = parseInt(formData['Activate Duration (mins)']) || 90;\nconst crystallizeDuration = parseInt(formData['Crystallize Duration (mins)']) || 90;\nconst combinedDuration = formData['Crystallize + Activate Combined (mins) — leave blank if separate']\n  ? parseInt(formData['Crystallize + Activate Combined (mins) — leave blank if separate'])\n  : null;\n\nconst EMPOWER_DURATION = 60;\nconst EMBED_DURATION = 90;\n\nconsole.log('Number of sprints:', numberOfSprints);\n\n// ============================================================\n// SECURITY CHECKS\n// ============================================================\n\n// Access code\nif ($('Form').first().json['Access Code'] !== 'YOUR_ACCESS_CODE') {\n  throw new Error('Access denied: invalid access code.');\n}\n\n// Input validation\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(clientEmail)) {\n  throw new Error(`Invalid client email format: \"${clientEmail}\"`);\n}\nif (!formData['Client Google Drive Folder URL']?.includes('/folders/')) {\n  throw new Error('Client Google Drive Folder URL does not look correct — expected a /folders/ URL.');\n}\nif (!trelloCardUrl.includes('trello.com/c/')) {\n  throw new Error('Trello Card URL does not look correct — expected a trello.com/c/ URL.');\n}\nfor (const d of blackoutDates) {\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(d)) {\n    throw new Error(`Blackout date \"${d}\" is not in YYYY-MM-DD format.`);\n  }\n}\n\n// Duplicate submission check — scoped to same phase\nconst phaseNumber = parseInt(formData['Phase Number']);\nconst existingRows = $('Check existing sessions').all()\n  .map(i => i.json)\n  .filter(r => r['row_number'] > 1 && parseInt(r['Phase #']) === phaseNumber);\nif (existingRows.length > 0) {\n  const sprints = [...new Set(existingRows.map(r => r['Sprint #']))].sort().join(', ');\n  throw new Error(`Client \"${clientEmail}\" already has sessions scheduled for Phase ${phaseNumber} (Sprint(s): ${sprints}). Use the Reschedule form instead.`);\n}\n\n// ============================================================\n// BUILD BUSY BLOCKS\n// ============================================================\n\nconst busyBlocks = [];\n\nfor (const event of calendarEvents) {\n  if (event.start && event.start.date && !event.start.dateTime) {\n    busyBlocks.push({\n      dateStr: event.start.date,\n      allDay: true\n    });\n  } else if (event.start && event.start.dateTime) {\n    busyBlocks.push({\n      start: parseISO(event.start.dateTime),\n      end: parseISO(event.end.dateTime),\n      allDay: false\n    });\n  }\n}\n\nfor (const dateStr of blackoutDates) {\n  busyBlocks.push({ dateStr, allDay: true });\n}\n\n// ============================================================\n// CONFLICT CHECKS\n// ============================================================\n\nfunction isAllDayBlocked(date) {\n  const dateStr = toDateStr(date, LISA_TZ);\n  return busyBlocks.some(b => b.allDay && b.dateStr === dateStr);\n}\n\nfunction hasTimedConflict(slotStart, slotEnd) {\n  return busyBlocks.some(b => {\n    if (b.allDay) return false;\n    return slotStart < b.end && slotEnd > b.start;\n  });\n}\n\nfunction isInClientWindow(slotStart, slotEnd) {\n  const clientStartComponents = toTZ(slotStart, clientTZ);\n  const clientEndComponents = toTZ(slotEnd, clientTZ);\n  const startMins = clientStartComponents.hour * 60 + clientStartComponents.minute;\n  const endMins = clientEndComponents.hour * 60 + clientEndComponents.minute;\n  return startMins >= 9 * 60 && endMins <= 17 * 60;\n}\n\n// ============================================================\n// SLOT FINDER\n// ============================================================\n\nfunction findSlot(fromDate, durationMins) {\n  const fromDateStr = toDateStr(fromDate, LISA_TZ);\n  const currentDay = fromTZComponents(fromDateStr, 0, 0, LISA_TZ);\n\n  for (let dayOffset = 0; dayOffset < 365; dayOffset++) {\n    const day = addDays(currentDay, dayOffset);\n\n    if (isWeekend(day, LISA_TZ)) continue;\n    if (isAllDayBlocked(day)) continue;\n\n    const dayStr = toDateStr(day, LISA_TZ);\n\n    // Try slots from 11:00am in 30-min increments\n    // Latest start = 3pm minus duration\n    const latestStartMins = (15 * 60) - durationMins;\n\n    for (let totalMins = 11 * 60; totalMins <= latestStartMins; totalMins += 30) {\n      const startHour = Math.floor(totalMins / 60);\n      const startMin = totalMins % 60;\n\n      const slotStart = fromTZComponents(dayStr, startHour, startMin, LISA_TZ);\n      const slotEnd = addMinutes(slotStart, durationMins);\n\n      if (hasTimedConflict(slotStart, slotEnd)) continue;\n      if (!isInClientWindow(slotStart, slotEnd)) continue;\n\n      return { slotStart, slotEnd, dateStr: dayStr };\n    }\n  }\n\n  return null;\n}\n\n// ============================================================\n// BUILD SPRINT SESSIONS\n// ============================================================\n\nfunction buildSprintSessions(sprintNumber, firstSessionDate) {\n  const sessions = [];\n  const useCombined = combinedDuration !== null;\n\n  const isFirstOfPhase = (sprintNumber - 1) % 4 === 0;\n\nconst sequence = isFirstOfPhase\n    ? (useCombined\n        ? [\n            { type: 'Crystallize+Activate', duration: combinedDuration, includesLisa: true },\n            { type: 'Empower', duration: EMPOWER_DURATION, includesLisa: true },\n            { type: 'Embed', duration: EMBED_DURATION, includesLisa: true }\n          ]\n        : [\n            { type: 'Crystallize', duration: crystallizeDuration, includesLisa: true },\n            { type: 'Activate', duration: activateDuration, includesLisa: true },\n            { type: 'Empower', duration: EMPOWER_DURATION, includesLisa: true },\n            { type: 'Embed', duration: EMBED_DURATION, includesLisa: true }\n          ])\n    : [\n        { type: 'Activate', duration: activateDuration, includesLisa: true },\n        { type: 'Empower', duration: EMPOWER_DURATION, includesLisa: true },\n        { type: 'Embed', duration: EMBED_DURATION, includesLisa: true }\n      ];\n  \n  let searchFrom = firstSessionDate;\n  let firstSessionActual = null;\n\n  for (let i = 0; i < sequence.length; i++) {\n    const session = sequence[i];\n\n    // Enforce 21-day minimum from first session to Embed\n    if (session.type === 'Embed' && firstSessionActual) {\n      const earliestEmbed = addDays(firstSessionActual, 21);\n      if (searchFrom < earliestEmbed) {\n        searchFrom = earliestEmbed;\n      }\n    }\n\n    const result = findSlot(searchFrom, session.duration);\n    if (!result) {\n      throw new Error(`No slot found for Sprint ${sprintNumber} — ${session.type} after ${toDateStr(searchFrom, LISA_TZ)}`);\n    }\n\n    const { slotStart, slotEnd, dateStr } = result;\n    if (session.type === 'Activate' || session.type === 'Crystallize+Activate') {\n      firstSessionActual = slotStart;\n    }\n\n    const sessionId = `VC-${clientLastName}-S${sprintNumber}-${session.type.replace('+', '')}`;\n\n    sessions.push({\n      sessionId,\n      clientName,\n      companyName,\n      clientEmail,\n      trelloCardUrl,\n      sprintNumber,\n      sessionType: session.type,\n      dateISO: dateStr,\n      startTimeMT: toTimeStr(slotStart, LISA_TZ),\n      endTimeMT: toTimeStr(slotEnd, LISA_TZ),\n      startTimeClient: toTimeStr(slotStart, clientTZ),\n      endTimeClient: toTimeStr(slotEnd, clientTZ),\n      clientTimezone: clientTZ,\n      durationMins: session.duration,\n      includesLisa: session.includesLisa,\n      calendarEventId: null\n    });\n\n    // Next session minimum 7 days later\n    searchFrom = addDays(slotStart, 7);\n  }\n\n  return sessions;\n}\n\n// ============================================================\n// RUN ALL SPRINTS\n// ============================================================\n\nconst allSessions = [];\nconst startDateStr = formData['Sprint Start Date'];\nlet nextSprintStart = startDateStr ? new Date(startDateStr + 'T12:00:00Z') : new Date();\n\nfor (let sprint = 1; sprint <= numberOfSprints; sprint++) {\n  const sprintSessions = buildSprintSessions(sprint, nextSprintStart);\n  allSessions.push(...sprintSessions);\n\n  const lastSession = sprintSessions[sprintSessions.length - 1];\n  nextSprintStart = addDays(\n    fromTZComponents(lastSession.dateISO, 0, 0, LISA_TZ),\n    7\n  );\n}\n\nreturn allSessions.map(session => ({ json: session }));\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -112
      ],
      "id": "83cc0017-a12a-4ce3-a35c-09be75cc535c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_CALENDAR_ID"
        },
        "start": "={{ $json.dateISO }}T{{ $json.startTimeMT }}:00",
        "end": "={{ $json.dateISO }}T{{ $json.endTimeMT }}:00",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ \"\\nSession ID: \" + $json.sessionId + \"\\nClient: \" + $json.clientName + \"\\nClient Email: \" + $json.clientEmail + \"\\nClient Timezone: \" + $json.clientTimezone + \"\\nClient Time: \" + $json.startTimeClient + \" — \" + $json.endTimeClient }}",
          "showMeAs": "opaque",
          "summary": "={{ 'Hold | ' + $json.clientName + ' | Sprint ' + $json.sprintNumber + ' | ' + $json.sessionType }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1088,
        -112
      ],
      "id": "21d11552-cabe-485b-a5c0-d2e561622714",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Your Google Calendar credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Session Data",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('Code in JavaScript').item.json.clientName }}",
            "Client Email": "={{ $('Code in JavaScript').item.json.clientEmail }}",
            "Sprint #": "={{ $('Code in JavaScript').item.json.sprintNumber }}",
            "Session Type": "={{ $('Code in JavaScript').item.json.sessionType }}",
            "Date": "={{ $('Code in JavaScript').item.json.dateISO }}",
            "Time (MT)": "={{ $('Code in JavaScript').item.json.startTimeMT }}-{{ $('Code in JavaScript').item.json.endTimeMT }}",
            "Time (Client TZ)": "={{ $('Code in JavaScript').item.json.startTimeClient }}-{{ $('Code in JavaScript').item.json.endTimeClient }}",
            "Duration (mins)": "={{ $('Code in JavaScript').item.json.durationMins }}",
            "Includes Lisa": "={{ $('Code in JavaScript').item.json.includesLisa }}",
            "Calendar Event ID": "={{ $('Create an event').item.json.id }}",
            "Status": "=Draft",
            "Client Timezone": "={{ $('Code in JavaScript').item.json.clientTimezone }}",
            "Phase #": "={{ $('Form').first().json['Phase Number'] }}",
            "Client Drive Folder URL": "={{ $('Form').first().json['Client Google Drive Folder URL'] }}",
            "Company Name": "={{ $('Code in JavaScript').item.json.companyName }}",
            "Blackout Dates": "={{ $('Form').first().json['Client Blackout Dates'] || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sprint #",
              "displayName": "Sprint #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session Type",
              "displayName": "Session Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time (MT)",
              "displayName": "Time (MT)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time (Client TZ)",
              "displayName": "Time (Client TZ)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (mins)",
              "displayName": "Duration (mins)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Includes Lisa",
              "displayName": "Includes Lisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Calendar Event ID",
              "displayName": "Calendar Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Drive Folder URL",
              "displayName": "Client Drive Folder URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Timezone",
              "displayName": "Client Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phase #",
              "displayName": "Phase #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Blackout Dates",
              "displayName": "Blackout Dates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        -112
      ],
      "id": "bbe07bd4-7e8b-433e-8cd1-ddd480ba2693",
      "name": "Append row in sheet",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Sheets credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "YOUR_TEMPLATE_DOC_ID",
          "mode": "id"
        },
        "name": "={{ ['Vista Caballo | StillPoint Sprint Schedule | Phase ' + $('Form').first().json['Phase Number'], $('Form').first().json['Client Company Name'], $('Form').first().json['Client Full Name']].filter(Boolean).join(' | ') }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Form').first().json['Client Google Drive Folder URL']?.trim().split('/folders/')[1] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1536,
        -112
      ],
      "id": "75e8daba-d6b2-4c5e-9d0e-ef5120d5b749",
      "name": "Copy file",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the copied Doc ID\nconst docId = $('Copy file').first().json.id;\n\n// Get all sessions from Node 3\nconst sessions = $('Code in JavaScript').all().map(i => i.json);\n\n// Get form data\nconst formData = $('Form').first().json;\nconst clientName = formData['Client Full Name'];\nconst companyName = $('Code in JavaScript').first().json.companyName || '';\n\n// Format date as \"Tues, Jul 11, 2023\"\nfunction formatDate(isoDate) { \n  const date = new Date(isoDate + 'T12:00:00Z');\n  return date.toLocaleDateString('en-US', {\n    weekday: 'short',\n    month: 'short',\n    day: 'numeric',\n    year: 'numeric',\n    timeZone: 'UTC'\n  }).replace(/\\./, '');\n}\n\n// Format time as \"11 am - 12:30 pm MT\"\nfunction formatTime(startTime, endTime) {\n  function fmt(t) {\n    const [h, m] = t.split(':').map(Number);\n    const period = h >= 12 ? 'pm' : 'am';\n    const hour = h > 12 ? h - 12 : h === 0 ? 12 : h;\n    const mins = m > 0 ? `:${String(m).padStart(2, '0')}` : '';\n    return `${hour}${mins} ${period}`;\n  }\n  return `${fmt(startTime)} - ${fmt(endTime)} MT`;\n}\n\n// Map session type to display name\nfunction sessionLabel(type) {\n  const map = {\n    'Crystallize': 'Crystallize',\n    'Activate': 'Activate',\n    'Crystallize+Activate': 'Crystallize + Activate',\n    'Empower': 'Empower',\n    'Embed': 'Embed'\n  };\n  return map[type] || type;\n}\n\n// Build replacements array\nconst replacements = [];\n\n// Header replacements\nreplacements.push({\n  find: '{{CLIENT_NAME}}',\n  replace: clientName\n});\nreplacements.push({\n  find: ', {{COMPANY_NAME}}',\n  replace: companyName ? `, ${companyName}` : ''\n});\nreplacements.push({\n  find: '{{SCHEDULE_DATE}}',\n  replace: new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    year: 'numeric'\n  })\n});\n\n// Group sessions by sprint\nconst bySprint = {};\nfor (const s of sessions) {\n  if (!bySprint[s.sprintNumber]) bySprint[s.sprintNumber] = [];\n  bySprint[s.sprintNumber].push(s);\n}\n\n// Build session placeholders per sprint\nfor (const [sprintNum, sprintSessions] of Object.entries(bySprint)) {\n  const s = parseInt(sprintNum);\n  sprintSessions.forEach((session, i) => {\n    const row = i + 1;\n    replacements.push({\n      find: `{{S${s}_R${row}_DATE}}`,\n      replace: formatDate(session.dateISO)\n    });\n    replacements.push({\n      find: `{{S${s}_R${row}_SESSION}}`,\n      replace: sessionLabel(session.sessionType)\n    });\n    replacements.push({\n      find: `{{S${s}_R${row}_TIME}}`,\n      replace: formatTime(session.startTimeMT, session.endTimeMT)\n    });\n  });\n\n  // Fill remaining empty rows with a space\n  for (let row = sprintSessions.length + 1; row <= 4; row++) {\n    replacements.push({ find: `{{S${s}_R${row}_DATE}}`, replace: ' ' });\n    replacements.push({ find: `{{S${s}_R${row}_SESSION}}`, replace: ' ' });\n    replacements.push({ find: `{{S${s}_R${row}_TIME}}`, replace: ' ' });\n  }\n}\n\n// Increase when second template page is added for Phase 2+\nconst MAX_TEMPLATE_SPRINTS = 9;\n\n// Fill all unhandled sprints with spaces\nconst handledSprints = new Set(Object.keys(bySprint).map(Number));\nfor (let s = 1; s <= MAX_TEMPLATE_SPRINTS; s++) {\n  if (!handledSprints.has(s)) {\n    for (let row = 1; row <= 4; row++) {\n      replacements.push({ find: `{{S${s}_R${row}_DATE}}`, replace: ' ' });\n      replacements.push({ find: `{{S${s}_R${row}_SESSION}}`, replace: ' ' });\n      replacements.push({ find: `{{S${s}_R${row}_TIME}}`, replace: ' ' });\n    }\n  }\n}\n\n// Build Google Docs batchUpdate request body\nconst requests = replacements.map(r => ({\n  replaceAllText: {\n    containsText: {\n      text: r.find,\n      matchCase: true\n    },\n    replaceText: r.replace\n  }\n}));\n\nreturn [{\n  json: {\n    docId,\n    secret: 'YOUR_DOC_REPLACER_SECRET',\n    requestBody: { requests }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -112
      ],
      "id": "a74450c7-f8f0-4b94-8c97-e68cc731133c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APPS_SCRIPT_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1984,
        -112
      ],
      "id": "b0b43d5f-1f7e-4f44-8efd-680fa1f13031",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "cardComment",
        "cardId": {
          "__rl": true,
          "value": "={{ $('Form').first().json['Trello Card URL'].split('/').pop() }}",
          "mode": "id"
        },
        "text": "={{ '@YOUR_TRELLO_USERNAME StillPoint Schedule Generated — ' + $('Form').first().json['Client Full Name'] + '\\n\\nLisa, please review the following before we send the email:\\n\\nSchedule Doc: https://docs.google.com/document/d/' + $('Copy file').first().json.id + '/edit\\n\\n---\\n\\nEmail Draft:\\n\\nSubject: ' + $('Generate email draft').first().json.subject + '\\n\\n' + $('Generate email draft').first().json.body + '\\n\\n---\\n\\n' }}"
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        2432,
        -112
      ],
      "id": "6ece7c30-d443-44b7-9bc4-508cf42ae0da",
      "name": "Create a card comment",
      "credentials": {
        "trelloApi": {
          "id": "YOUR_TRELLO_CREDENTIAL_ID",
          "name": "Your Trello credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $('Form').first().json['Trello Card URL'].split('/').pop() }}",
          "mode": "id"
        },
        "updateFields": {
          "idLabels": "YOUR_WAITING_APPROVAL_LABEL_ID"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        2656,
        -112
      ],
      "id": "f9e165b3-689f-4e18-8010-10eb5e8a289c",
      "name": "Update a card",
      "credentials": {
        "trelloApi": {
          "id": "YOUR_TRELLO_CREDENTIAL_ID",
          "name": "Your Trello credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const clientName = $('Code in JavaScript').first().json.clientName;\nconst journeyMasterName = $('Form').first().json['Journey Master Name'];\n\nconst subject = \"Your StillPoint Journey Schedule\";\n\nconst body = `Hello ${clientName},\n\nAttached to this email is your StillPoint schedule for your upcoming journey. Please take a moment to review the details and let me know if this schedule works for you or if you have any conflicts.\n\nOnce you approve the schedule, we'll reserve that time exclusively for you. If something comes up and you need to reschedule, we kindly ask for at least 72 hours' notice. Without that notice, please be aware that the session will be forfeited.\n\nIf you have any questions or need further support, please don't hesitate to reach out. I'm here for you and happy to help.\n\nHere's to Taking The Reins,\n${journeyMasterName}`;\n\nreturn [{\n  json: {\n    subject,\n    body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -112
      ],
      "id": "a2f22690-e80a-4776-a822-a957f2765e1e",
      "name": "Generate email draft"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "VC — StillPoint Scheduling (TEST)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Session Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Client Email",
              "lookupValue": "={{ $('Form1').first().json['Client Email'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        176
      ],
      "id": "86ee207d-87b2-4dc5-9f90-62a4f7dc0d72",
      "name": "Get rows to reschedule",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Sheets credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// SECURITY CHECKS\n// ============================================================\n\nconst _form1 = $('Form1').first().json;\n\n// Access code\nif (_form1['Access Code'] !== 'YOUR_ACCESS_CODE') {\n  throw new Error('Access denied: invalid access code.');\n}\n\n// Input validation\nconst _email = (_form1['Client Email'] || '').trim();\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(_email)) {\n  throw new Error(`Invalid client email format: \"${_email}\"`);\n}\nconst _trelloUrl = _form1['Trello Card URL'] || '';\nif (!_trelloUrl.includes('trello.com/c/')) {\n  throw new Error('Trello Card URL does not look correct — expected a trello.com/c/ URL.');\n}\nconst _docUrl = _form1['Existing Schedule Doc URL'] || '';\nif (!_docUrl.includes('/d/')) {\n  throw new Error('Existing Schedule Doc URL does not look correct — expected a Google Docs /d/ URL.');\n}\nconst _newBlackouts = _form1['Updated Blackout Dates']\n  ? _form1['Updated Blackout Dates'].split(',').map(d => d.trim()).filter(d => d)\n  : [];\nfor (const d of _newBlackouts) {\n  if (!/^\\d{4}-\\d{2}-\\d{2}$/.test(d)) {\n    throw new Error(`Blackout date \"${d}\" is not in YYYY-MM-DD format.`);\n  }\n}\n\nconst rescheduleFromSprint = parseInt($('Form1').first().json['Reschedule from Sprint # (first sprint to replace)']);\nconst rows = $input.all().map(i => i.json);\n\nconst filtered = rows.filter(r => \n  parseInt(r['Sprint #']) >= rescheduleFromSprint &&\n  r['row_number'] > 1 &&\n  r['Calendar Event ID'] && r['Calendar Event ID'].toString().trim() !== ''\n);\n\nif (filtered.length === 0) throw new Error('No rows found for this client from Sprint ' + rescheduleFromSprint);\n\nreturn filtered.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        176
      ],
      "id": "dc2104db-5375-4e14-aec8-2a1cf7178f26",
      "name": "Filter rows to reschedule"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_CALENDAR_ID"
        },
        "eventId": "={{ $json['Calendar Event ID'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1088,
        176
      ],
      "id": "ad247ac6-3265-4255-adb2-a88f17df246d",
      "name": "Delete calendar holds",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Your Google Calendar credential"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Filter rows to reschedule').all().map(i => i.json);\nrows.sort((a, b) => b['row_number'] - a['row_number']);\nreturn rows.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        176
      ],
      "id": "46757db1-e849-4c8a-9151-a96e9272dd13",
      "name": "Sort rows descending"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "VC — StillPoint Scheduling (TEST)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Session Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "startIndex": "={{ $json['row_number'] }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1536,
        80
      ],
      "id": "a6e7a922-b876-44b1-81e2-1ae7a78d1dd4",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Sheets credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Form1').first().json['Existing Schedule Doc URL'].split('/d/')[1].split('/')[0] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        80
      ],
      "id": "5f077903-e405-4074-9c52-d7c94dcaaa39",
      "name": "Delete old client schedule",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_CALENDAR_ID"
        },
        "returnAll": true,
        "timeMin": "={{ $now.toISO() }}",
        "timeMax": "={{ $now.plus({ months: 12 }).toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1536,
        272
      ],
      "id": "4bce54fa-62ce-4727-b1aa-141eb44ff00b",
      "name": "Get many events (Reschedule)",
      "executeOnce": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Your Google Calendar credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// HELPERS\n// ============================================================\n\nfunction parseISO(isoStr) {\n  return new Date(isoStr);\n}\n\nfunction toTZ(date, tz) {\n  const parts = new Intl.DateTimeFormat('en-US', {\n    timeZone: tz,\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit',\n    hour12: false\n  }).formatToParts(date);\n  const get = type => parts.find(p => p.type === type).value;\n  return {\n    year: parseInt(get('year')),\n    month: parseInt(get('month')),\n    day: parseInt(get('day')),\n    hour: parseInt(get('hour')),\n    minute: parseInt(get('minute'))\n  };\n}\n\nfunction toDateStr(date, tz) {\n  const { year, month, day } = toTZ(date, tz);\n  return `${year}-${String(month).padStart(2,'0')}-${String(day).padStart(2,'0')}`;\n}\n\nfunction toTimeStr(date, tz) {\n  const { hour, minute } = toTZ(date, tz);\n  return `${String(hour).padStart(2,'0')}:${String(minute).padStart(2,'0')}`;\n}\n\nfunction getWeekday(date, tz) {\n  const { year, month, day } = toTZ(date, tz);\n  return new Date(year, month - 1, day).getDay();\n}\n\nfunction isWeekend(date, tz) {\n  const day = getWeekday(date, tz);\n  return day === 0 || day === 6;\n}\n\nfunction fromTZComponents(dateStr, hour, minute, tz) {\n  const [year, month, day] = dateStr.split('-').map(Number);\n  const approxUtc = new Date(Date.UTC(year, month - 1, day, hour, minute));\n  for (let offset = -840; offset <= 840; offset++) {\n    const candidate = new Date(approxUtc.getTime() + offset * 60000);\n    const local = toTZ(candidate, tz);\n    if (\n      local.year === year &&\n      local.month === month &&\n      local.day === day &&\n      local.hour === hour &&\n      local.minute === minute\n    ) {\n      return candidate;\n    }\n  }\n  return approxUtc;\n}\n\nfunction addDays(date, days) {\n  return new Date(date.getTime() + days * 24 * 60 * 60 * 1000);\n}\n\nfunction addMinutes(date, mins) {\n  return new Date(date.getTime() + mins * 60 * 1000);\n}\n\n// ============================================================\n// TIMEZONE MAP\n// ============================================================\n\nconst timezoneMap = {\n  \"Eastern Time (ET) — New York\": \"America/New_York\",\n  \"Central Time (CT) — Chicago\": \"America/Chicago\",\n  \"Mountain Time (MT) — Denver\": \"America/Denver\",\n  \"Pacific Time (PT) — Los Angeles\": \"America/Los_Angeles\",\n  \"Pacific Time (PT) — Vancouver\": \"America/Vancouver\",\n  \"UK — London\": \"Europe/London\",\n  \"Central Europe — Paris/Amsterdam\": \"Europe/Paris\",\n  \"Australia — Sydney\": \"Australia/Sydney\"\n};\n\n// ============================================================\n// INPUTS — read from Sheet rows, not form\n// ============================================================\n\nconst calendarEvents = $input.all().map(item => item.json);\nconst sheetRows = $('Filter rows to reschedule').all().map(i => i.json);\nconst firstRow = sheetRows[0];\n\nconst LISA_TZ = 'America/Denver';\n\n// Client data from Sheet\nconst clientName = firstRow['Client Name'];\nconst companyName = firstRow['Company Name'] || '';\nconst clientEmail = firstRow['Client Email'];\nconst clientLastName = clientName.trim().split(' ').pop();\nconst clientTZ = firstRow['Client Timezone'];\nif (!clientTZ) throw new Error(`No client timezone found in Sheet for ${clientEmail}`);\n\n// Sprint data\nconst rescheduleFromSprint = parseInt($('Form1').first().json['Reschedule from Sprint # (first sprint to replace)']);\nconst numberOfSprints = Math.max(...sheetRows.map(r => parseInt(r['Sprint #'])));\n\n// Trello from form\nconst trelloCardUrl = $('Form1').first().json['Trello Card URL'];\n\n// Blackout dates — merge stored (from Sheet) with new entries from form\nconst storedBlackouts = firstRow['Blackout Dates']\n  ? firstRow['Blackout Dates'].split(',').map(d => d.trim()).filter(d => d)\n  : [];\nconst newBlackouts = $('Form1').first().json['Updated Blackout Dates']\n  ? $('Form1').first().json['Updated Blackout Dates'].split(',').map(d => d.trim()).filter(d => d)\n  : [];\nconst blackoutDates = [...new Set([...storedBlackouts, ...newBlackouts])];\n\n// Durations — hardcoded (Activate field removed from form)\nconst activateDuration = 90;\nconst crystallizeDuration = 90;\nconst combinedDuration = null;\n\nconst EMPOWER_DURATION = 60;\nconst EMBED_DURATION = 90;\n\nconsole.log('Rescheduling from sprint:', rescheduleFromSprint, 'Total sprints:', numberOfSprints);\n\n// ============================================================\n// BUILD BUSY BLOCKS\n// ============================================================\n\nconst busyBlocks = [];\n\nfor (const event of calendarEvents) {\n  if (event.start && event.start.date && !event.start.dateTime) {\n    busyBlocks.push({\n      dateStr: event.start.date,\n      allDay: true\n    });\n  } else if (event.start && event.start.dateTime) {\n    busyBlocks.push({\n      start: parseISO(event.start.dateTime),\n      end: parseISO(event.end.dateTime),\n      allDay: false\n    });\n  }\n}\n\nfor (const dateStr of blackoutDates) {\n  busyBlocks.push({ dateStr, allDay: true });\n}\n\n// ============================================================\n// CONFLICT CHECKS\n// ============================================================\n\nfunction isAllDayBlocked(date) {\n  const dateStr = toDateStr(date, LISA_TZ);\n  return busyBlocks.some(b => b.allDay && b.dateStr === dateStr);\n}\n\nfunction hasTimedConflict(slotStart, slotEnd) {\n  return busyBlocks.some(b => {\n    if (b.allDay) return false;\n    return slotStart < b.end && slotEnd > b.start;\n  });\n}\n\nfunction isInClientWindow(slotStart, slotEnd) {\n  const clientStartComponents = toTZ(slotStart, clientTZ);\n  const clientEndComponents = toTZ(slotEnd, clientTZ);\n  const startMins = clientStartComponents.hour * 60 + clientStartComponents.minute;\n  const endMins = clientEndComponents.hour * 60 + clientEndComponents.minute;\n  return startMins >= 9 * 60 && endMins <= 17 * 60;\n}\n\n// ============================================================\n// SLOT FINDER\n// ============================================================\n\nfunction findSlot(fromDate, durationMins) {\n  const fromDateStr = toDateStr(fromDate, LISA_TZ);\n  const currentDay = fromTZComponents(fromDateStr, 0, 0, LISA_TZ);\n\n  for (let dayOffset = 0; dayOffset < 365; dayOffset++) {\n    const day = addDays(currentDay, dayOffset);\n\n    if (isWeekend(day, LISA_TZ)) continue;\n    if (isAllDayBlocked(day)) continue;\n\n    const dayStr = toDateStr(day, LISA_TZ);\n    const latestStartMins = (15 * 60) - durationMins;\n\n    for (let totalMins = 11 * 60; totalMins <= latestStartMins; totalMins += 30) {\n      const startHour = Math.floor(totalMins / 60);\n      const startMin = totalMins % 60;\n\n      const slotStart = fromTZComponents(dayStr, startHour, startMin, LISA_TZ);\n      const slotEnd = addMinutes(slotStart, durationMins);\n\n      if (hasTimedConflict(slotStart, slotEnd)) continue;\n      if (!isInClientWindow(slotStart, slotEnd)) continue;\n\n      return { slotStart, slotEnd, dateStr: dayStr };\n    }\n  }\n\n  return null;\n}\n\n// ============================================================\n// BUILD SPRINT SESSIONS\n// ============================================================\n\nfunction buildSprintSessions(sprintNumber, firstSessionDate) {\n  const sessions = [];\n  const useCombined = combinedDuration !== null;\n  const isFirstOfPhase = (sprintNumber - 1) % 4 === 0;\n\n  const sequence = isFirstOfPhase\n    ? (useCombined\n        ? [\n            { type: 'Crystallize+Activate', duration: combinedDuration, includesLisa: true },\n            { type: 'Empower', duration: EMPOWER_DURATION, includesLisa: true },\n            { type: 'Embed', duration: EMBED_DURATION, includesLisa: true }\n          ]\n        : [\n            { type: 'Crystallize', duration: crystallizeDuration, includesLisa: true },\n            { type: 'Activate', duration: activateDuration, includesLisa: true },\n            { type: 'Empower', duration: EMPOWER_DURATION, includesLisa: true },\n            { type: 'Embed', duration: EMBED_DURATION, includesLisa: true }\n          ])\n    : [\n        { type: 'Activate', duration: activateDuration, includesLisa: true },\n        { type: 'Empower', duration: EMPOWER_DURATION, includesLisa: true },\n        { type: 'Embed', duration: EMBED_DURATION, includesLisa: true }\n      ];\n\n  let searchFrom = firstSessionDate;\n  let firstSessionActual = null;\n\n  for (let i = 0; i < sequence.length; i++) {\n    const session = sequence[i];\n\n    if (session.type === 'Embed' && firstSessionActual) {\n      const earliestEmbed = addDays(firstSessionActual, 21);\n      if (searchFrom < earliestEmbed) {\n        searchFrom = earliestEmbed;\n      }\n    }\n\n    const result = findSlot(searchFrom, session.duration);\n    if (!result) {\n      throw new Error(`No slot found for Sprint ${sprintNumber} — ${session.type} after ${toDateStr(searchFrom, LISA_TZ)}`);\n    }\n\n    const { slotStart, slotEnd, dateStr } = result;\n    if (session.type === 'Activate' || session.type === 'Crystallize+Activate') {\n      firstSessionActual = slotStart;\n    }\n\n    const sessionId = `VC-${clientLastName}-S${sprintNumber}-${session.type.replace('+', '')}`;\n\n    sessions.push({\n      sessionId,\n      clientName,\n      companyName,\n      clientEmail,\n      trelloCardUrl,\n      sprintNumber,\n      sessionType: session.type,\n      dateISO: dateStr,\n      startTimeMT: toTimeStr(slotStart, LISA_TZ),\n      endTimeMT: toTimeStr(slotEnd, LISA_TZ),\n      startTimeClient: toTimeStr(slotStart, clientTZ),\n      endTimeClient: toTimeStr(slotEnd, clientTZ),\n      clientTimezone: clientTZ,\n      durationMins: session.duration,\n      includesLisa: session.includesLisa,\n      calendarEventId: null,\n      blackoutDatesStr: blackoutDates.join(', ')\n    });\n\n    searchFrom = addDays(slotStart, 7);\n  }\n\n  return sessions;\n}\n\n// ============================================================\n// RUN SPRINTS FROM RESCHEDULE POINT\n// ============================================================\n\nconst allSessions = [];\nconst startDateStr = $('Form1').first().json['New Start Date for Rescheduled Sprint'];\nlet nextSprintStart = new Date(startDateStr + 'T12:00:00Z');\n\nfor (let sprint = rescheduleFromSprint; sprint <= numberOfSprints; sprint++) {\n  const sprintSessions = buildSprintSessions(sprint, nextSprintStart);\n  allSessions.push(...sprintSessions);\n\n  const lastSession = sprintSessions[sprintSessions.length - 1];\n  nextSprintStart = addDays(\n    fromTZComponents(lastSession.dateISO, 0, 0, LISA_TZ),\n    7\n  );\n}\n\nreturn allSessions.map(session => ({ json: session }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        272
      ],
      "id": "ae527065-50fc-487b-a514-331bb5b68605",
      "name": "Code in JavaScript (Reschedule)"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_CALENDAR_ID"
        },
        "start": "={{ $json.dateISO }}T{{ $json.startTimeMT }}:00",
        "end": "={{ $json.dateISO }}T{{ $json.endTimeMT }}:00",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ \"\\nSession ID: \" + $json.sessionId + \"\\nClient: \" + $json.clientName + \"\\nClient Email: \" + $json.clientEmail + \"\\nClient Timezone: \" + $json.clientTimezone + \"\\nClient Time: \" + $json.startTimeClient + \" — \" + $json.endTimeClient }}",
          "showMeAs": "opaque",
          "summary": "={{ 'Hold | ' + $json.clientName + ' | Sprint ' + $json.sprintNumber + ' | ' + $json.sessionType }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1984,
        272
      ],
      "id": "f7c9b97c-6ae3-4833-a274-e31b23e777e6",
      "name": "Create an event (Reschedule)",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Your Google Calendar credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "VC — StillPoint Scheduling (TEST)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Session Data",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client Name": "={{ $('Code in JavaScript (Reschedule)').item.json.clientName }}",
            "Client Email": "={{ $('Code in JavaScript (Reschedule)').item.json.clientEmail }}",
            "Sprint #": "={{ $('Code in JavaScript (Reschedule)').item.json.sprintNumber }}",
            "Session Type": "={{ $('Code in JavaScript (Reschedule)').item.json.sessionType }}",
            "Date": "={{ $('Code in JavaScript (Reschedule)').item.json.dateISO }}",
            "Time (MT)": "={{ $('Code in JavaScript (Reschedule)').item.json.startTimeMT }}-{{ $('Code in JavaScript (Reschedule)').item.json.endTimeMT }}",
            "Time (Client TZ)": "={{ $('Code in JavaScript (Reschedule)').item.json.startTimeClient }}-{{ $('Code in JavaScript (Reschedule)').item.json.endTimeClient }}",
            "Duration (mins)": "={{ $('Code in JavaScript (Reschedule)').item.json.durationMins }}",
            "Includes Lisa": "={{ $('Code in JavaScript (Reschedule)').item.json.includesLisa }}",
            "Calendar Event ID": "={{ $('Create an event (Reschedule)').item.json.id }}",
            "Status": "=Draft",
            "Client Timezone": "={{ $('Code in JavaScript (Reschedule)').item.json.clientTimezone }}",
            "Phase #": "={{ $('Filter rows to reschedule').first().json['Phase #'] }}",
            "Client Drive Folder URL": "={{ $('Filter rows to reschedule').first().json['Client Drive Folder URL']?.trim() }}",
            "Company Name": "={{ $('Code in JavaScript (Reschedule)').item.json.companyName }}",
            "Blackout Dates": "={{ $('Code in JavaScript (Reschedule)').item.json.blackoutDatesStr }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sprint #",
              "displayName": "Sprint #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Session Type",
              "displayName": "Session Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time (MT)",
              "displayName": "Time (MT)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time (Client TZ)",
              "displayName": "Time (Client TZ)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration (mins)",
              "displayName": "Duration (mins)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Includes Lisa",
              "displayName": "Includes Lisa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Calendar Event ID",
              "displayName": "Calendar Event ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Drive Folder URL",
              "displayName": "Client Drive Folder URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Client Timezone",
              "displayName": "Client Timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phase #",
              "displayName": "Phase #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Blackout Dates",
              "displayName": "Blackout Dates",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2208,
        272
      ],
      "id": "c25d848c-6050-4bb3-b15f-456ced471b8d",
      "name": "Append row in sheet (Reschedule)",
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Sheets credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "YOUR_TEMPLATE_DOC_ID",
          "mode": "id"
        },
        "name": "={{ (function() { var phase = $('Filter rows to reschedule').first().json['Phase #']; var company = $('Filter rows to reschedule').first().json['Company Name']; var client = $('Filter rows to reschedule').first().json['Client Name']; return [('Vista Caballo | StillPoint Sprint Schedule | Phase ' + phase), company, client].filter(Boolean).join(' | '); })() }}",
        "sameFolder": false,
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Filter rows to reschedule').first().json['Client Drive Folder URL']?.trim().split('/folders/')[1] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2432,
        272
      ],
      "id": "1b25fe5d-43d3-4f59-9b4c-e148a2786ed8",
      "name": "Copy file (Reschedule)",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Your Google Drive credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the copied Doc ID\nconst docId = $('Copy file (Reschedule)').first().json.id;\n\n// Get all sessions from reschedule Code node\nconst sessions = $('Code in JavaScript (Reschedule)').all().map(i => i.json);\n\n// Get client name from Sheet rows\nconst clientName = $('Filter rows to reschedule').first().json['Client Name'];\nconst companyName = $('Filter rows to reschedule').first().json['Company Name'] || '';\n\n// Increase when second template page is added for Phase 2+\nconst MAX_TEMPLATE_SPRINTS = 9;\n\n// Format date as \"Tue, Jul 1, 2026\"\nfunction formatDate(isoDate) {\n  const date = new Date(isoDate + 'T12:00:00Z');\n  return date.toLocaleDateString('en-US', {\n    weekday: 'short',\n    month: 'short',\n    day: 'numeric',\n    year: 'numeric',\n    timeZone: 'UTC'\n  }).replace(/\\./, '');\n}\n\n// Format time as \"11 am - 12:30 pm MT\"\nfunction formatTime(startTime, endTime) {\n  function fmt(t) {\n    const [h, m] = t.split(':').map(Number);\n    const period = h >= 12 ? 'pm' : 'am';\n    const hour = h > 12 ? h - 12 : h === 0 ? 12 : h;\n    const mins = m > 0 ? `:${String(m).padStart(2, '0')}` : '';\n    return `${hour}${mins} ${period}`;\n  }\n  return `${fmt(startTime)} - ${fmt(endTime)} MT`;\n}\n\n// Map session type to display name\nfunction sessionLabel(type) {\n  const map = {\n    'Crystallize': 'Crystallize',\n    'Activate': 'Activate',\n    'Crystallize+Activate': 'Crystallize + Activate',\n    'Empower': 'Empower',\n    'Embed': 'Embed'\n  };\n  return map[type] || type;\n}\n\n// Build replacements array\nconst replacements = [];\n\n// Header replacements\nreplacements.push({\n  find: '{{CLIENT_NAME}}',\n  replace: clientName\n});\nreplacements.push({\n  find: ', {{COMPANY_NAME}}',\n  replace: companyName ? `, ${companyName}` : ''\n});\nreplacements.push({\n  find: '{{SCHEDULE_DATE}}',\n  replace: new Date().toLocaleDateString('en-US', {\n    month: 'short',\n    day: 'numeric',\n    year: 'numeric'\n  })\n});\n\n// Fill kept sprints (those before rescheduleFromSprint) from Sheet data\nconst allClientRows = $('Get rows to reschedule').all().map(i => i.json).filter(r => r['row_number'] > 1);\nconst rescheduleFromSprint = parseInt($('Form1').first().json['Reschedule from Sprint # (first sprint to replace)']);\nconst keptRows = allClientRows.filter(r => parseInt(r['Sprint #']) < rescheduleFromSprint);\n\nconst keptBySprint = {};\nfor (const r of keptRows) {\n  const s = parseInt(r['Sprint #']);\n  if (!keptBySprint[s]) keptBySprint[s] = [];\n  keptBySprint[s].push(r);\n}\n\nfor (const [sprintNum, sprintRows] of Object.entries(keptBySprint)) {\n  const s = parseInt(sprintNum);\n  sprintRows.forEach((row, i) => {\n    const rowNum = i + 1;\n    const [startTime, endTime] = row['Time (MT)'].split('-');\n    replacements.push({ find: `{{S${s}_R${rowNum}_DATE}}`, replace: formatDate(row['Date']) });\n    replacements.push({ find: `{{S${s}_R${rowNum}_SESSION}}`, replace: sessionLabel(row['Session Type']) });\n    replacements.push({ find: `{{S${s}_R${rowNum}_TIME}}`, replace: formatTime(startTime, endTime) });\n  });\n  for (let row = sprintRows.length + 1; row <= 4; row++) {\n    replacements.push({ find: `{{S${s}_R${row}_DATE}}`, replace: ' ' });\n    replacements.push({ find: `{{S${s}_R${row}_SESSION}}`, replace: ' ' });\n    replacements.push({ find: `{{S${s}_R${row}_TIME}}`, replace: ' ' });\n  }\n}\n\n// Group sessions by sprint\nconst bySprint = {};\nfor (const s of sessions) {\n  if (!bySprint[s.sprintNumber]) bySprint[s.sprintNumber] = [];\n  bySprint[s.sprintNumber].push(s);\n}\n\n// Build session placeholders per sprint\nfor (const [sprintNum, sprintSessions] of Object.entries(bySprint)) {\n  const s = parseInt(sprintNum);\n  sprintSessions.forEach((session, i) => {\n    const row = i + 1;\n    replacements.push({\n      find: `{{S${s}_R${row}_DATE}}`,\n      replace: formatDate(session.dateISO)\n    });\n    replacements.push({\n      find: `{{S${s}_R${row}_SESSION}}`,\n      replace: sessionLabel(session.sessionType)\n    });\n    replacements.push({\n      find: `{{S${s}_R${row}_TIME}}`,\n      replace: formatTime(session.startTimeMT, session.endTimeMT)\n    });\n  });\n\n  // Fill remaining empty rows with a space\n  for (let row = sprintSessions.length + 1; row <= 4; row++) {\n    replacements.push({ find: `{{S${s}_R${row}_DATE}}`, replace: ' ' });\n    replacements.push({ find: `{{S${s}_R${row}_SESSION}}`, replace: ' ' });\n    replacements.push({ find: `{{S${s}_R${row}_TIME}}`, replace: ' ' });\n  }\n}\n\n// Fill all unhandled sprints with spaces\nconst handledSprints = new Set([...Object.keys(keptBySprint), ...Object.keys(bySprint)].map(Number));\nfor (let s = 1; s <= MAX_TEMPLATE_SPRINTS; s++) {\n  if (!handledSprints.has(s)) {\n    for (let row = 1; row <= 4; row++) {\n      replacements.push({ find: `{{S${s}_R${row}_DATE}}`, replace: ' ' });\n      replacements.push({ find: `{{S${s}_R${row}_SESSION}}`, replace: ' ' });\n      replacements.push({ find: `{{S${s}_R${row}_TIME}}`, replace: ' ' });\n    }\n  }\n}\n\n// Build Google Docs batchUpdate request body\nconst requests = replacements.map(r => ({\n  replaceAllText: {\n    containsText: {\n      text: r.find,\n      matchCase: true\n    },\n    replaceText: r.replace\n  }\n}));\n\nreturn [{\n  json: {\n    docId,\n    secret: 'YOUR_DOC_REPLACER_SECRET',\n    requestBody: { requests }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        272
      ],
      "id": "96cbd0b0-2b35-48b6-97bb-d8ae24682e17",
      "name": "Code in JavaScript1 (Reschedule)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_APPS_SCRIPT_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2880,
        272
      ],
      "id": "dcbe9bb6-124e-41b5-9bd8-b4877569ad72",
      "name": "HTTP Request (Reschedule)"
    },
    {
      "parameters": {
        "jsCode": "const clientName = $('Filter rows to reschedule').first().json['Client Name'];\nconst journeyMasterName = $('Form1').first().json['Journey Master Name'];\n\nconst subject = \"Your StillPoint Journey Schedule — Updated\";\n\nconst body = `Hello ${clientName},\n\nYour StillPoint schedule has been updated. Please find your revised schedule attached for your review. Let me know if this works for you or if you have any conflicts.\n\nOnce you approve the updated schedule, we'll reserve that time exclusively for you. If something comes up and you need to reschedule again, we kindly ask for at least 72 hours' notice. Without that notice, please be aware that the session will be forfeited.\n\nIf you have any questions or need further support, please don't hesitate to reach out. I'm here for you and happy to help.\n\nHere's to Taking The Reins,\n${journeyMasterName}`;\n\nreturn [{\n  json: {\n    subject,\n    body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        272
      ],
      "id": "009c16d5-224e-4145-b19e-2fcf2b408c75",
      "name": "Generate email draft (Reschedule)"
    },
    {
      "parameters": {
        "resource": "cardComment",
        "cardId": {
          "__rl": true,
          "value": "={{ $('Form1').first().json['Trello Card URL'].split('/').pop() }}",
          "mode": "id"
        },
        "text": "={{ '@YOUR_TRELLO_USERNAME Schedule Updated — ' + $('Filter rows to reschedule').first().json['Client Name'] + '\\n\\nLisa, please review the updated schedule before ' + $('Form1').first().json['Journey Master Name'] + ' sends the email:\\n\\nSchedule Doc: https://docs.google.com/document/d/' + $('Copy file (Reschedule)').first().json.id + '/edit\\n\\n---\\n\\nEmail Draft:\\n\\nSubject: ' + $('Generate email draft (Reschedule)').first().json.subject + '\\n\\n' + $('Generate email draft (Reschedule)').first().json.body + '\\n\\n---\\n\\n' }}"
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        3296,
        272
      ],
      "id": "a1339462-44be-4bad-8e80-052ddf3132ab",
      "name": "Create a card comment (Reschedule)",
      "credentials": {
        "trelloApi": {
          "id": "YOUR_TRELLO_CREDENTIAL_ID",
          "name": "Your Trello credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": {
          "__rl": true,
          "value": "={{ $('Form1').first().json['Trello Card URL'].split('/').pop() }}",
          "mode": "id"
        },
        "updateFields": {
          "idLabels": "YOUR_WAITING_APPROVAL_LABEL_ID"
        }
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        3488,
        272
      ],
      "id": "d7090997-e57d-4449-80d4-02dee1043bf4",
      "name": "Update a card(Reschedule)",
      "credentials": {
        "trelloApi": {
          "id": "YOUR_TRELLO_CREDENTIAL_ID",
          "name": "Your Trello credential"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Session Data",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Client Email",
              "lookupValue": "={{ $('Form').first().json['Client Email'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -112
      ],
      "id": "f3a4b5c6-d7e8-9012-3456-789abcdef012",
      "name": "Check existing sessions",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Your Google Sheets credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "https://YOUR_N8N_INSTANCE/form/7267c38e-976d-4ad6-8f4b-38f336490cf2",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        29136,
        5072
      ],
      "id": "0876c763-1118-45b5-9759-999d7ca63794",
      "name": "redirect to form",
      "webhookId": "f0b4aa5a-749c-48e8-ab1d-6104d69278d3"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "https://YOUR_N8N_INSTANCE/form/411c930c-728d-4d5f-a038-5f93bf039ea0",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        29120,
        5392
      ],
      "id": "333c200d-9a92-46c5-9b00-5f80bc677afe",
      "name": "redirect to form1",
      "webhookId": "54368daf-d2e2-4ae2-bdfa-4475d5615595"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Generate email draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card comment": {
      "main": [
        [
          {
            "node": "Update a card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate email draft": {
      "main": [
        [
          {
            "node": "Create a card comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get rows to reschedule": {
      "main": [
        [
          {
            "node": "Filter rows to reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter rows to reschedule": {
      "main": [
        [
          {
            "node": "Delete calendar holds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete calendar holds": {
      "main": [
        [
          {
            "node": "Sort rows descending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort rows descending": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many events (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Delete old client schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events (Reschedule)": {
      "main": [
        [
          {
            "node": "Code in JavaScript (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript (Reschedule)": {
      "main": [
        [
          {
            "node": "Create an event (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event (Reschedule)": {
      "main": [
        [
          {
            "node": "Append row in sheet (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet (Reschedule)": {
      "main": [
        [
          {
            "node": "Copy file (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file (Reschedule)": {
      "main": [
        [
          {
            "node": "Code in JavaScript1 (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1 (Reschedule)": {
      "main": [
        [
          {
            "node": "HTTP Request (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request (Reschedule)": {
      "main": [
        [
          {
            "node": "Generate email draft (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate email draft (Reschedule)": {
      "main": [
        [
          {
            "node": "Create a card comment (Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a card comment (Reschedule)": {
      "main": [
        [
          {
            "node": "Update a card(Reschedule)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "redirect to form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form1": {
      "main": [
        [
          {
            "node": "redirect to form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check existing sessions": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redirect to form": {
      "main": [
        [
          {
            "node": "Check existing sessions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "redirect to form1": {
      "main": [
        [
          {
            "node": "Get rows to reschedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "5e2fbf2e-ba61-4202-8d06-675b13601c3b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "551f116edafc98652c103ace3ff2369cca4f4dd710ff422db924cb1b03db57d7"
  },
  "id": "rZoXep6yGnJkIbzz",
  "tags": []
}